# Misc IDE
.venv
node_modules
.idea
.vscode
.env
env
junk

# Python cache files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc
*/**.pyc
*.exe
__main__.*

# Build files
build
dist
# But not the build script/module
!dsdultra/build

# AppImage build files
AppDir/usr/bin/*
AppDir/.DirIcon
AppDir/dsd.png
# AppImage persistent files
!AppDir/dsd.desktop
!AppDir/AppRun
