[Desktop Entry]
Type=Application
Name=Democracy StreamDeck
Terminal=false
Categories=Utility;Game;
StartupNotify=false
Keywords=streamdeck;deck;elgato;dsdultra;dsd;helldivers
